#root {
  width: 100%;
  height: 100%;
  margin: 10px;
  text-align: center;
}

.display-container {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin: 0 auto;
}

.tm-text {
  color: var(--blue);
  font-size: 2em;
  align-self: self-start;
  position: absolute;
  top: 42vw;
}
