:root {
  font-family: "VT323", serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  --background: #c3bdb9;
  --black: #232326;
  --light-gray: #8f8c8f;
  --gray: #646264;
  --dark-gray: #2d2d31;
  --white: #b8b5b7;
  --red: #a0275b;
  --dark-red: #701b40;
  --blue: #323787;
  --green: #7c9e51;
}

* {
  user-select: none;
}

body {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  touch-action: none;
}
